version: '3.8'
services:
  postgres:
    container_name: scp_postgres
    image: postgres:latest
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=docker
      - POSTGRES_PASSWORD=docker
      - POSTGRES_DB=scp_database
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: